<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="~/css/sidebar.css">

<div id="viewport">
    <!-- Sidebar -->
    <div id="sidebar">
        <header>
            <a href="#">My App</a>
        </header>
        <ul class="nav">
            <li>
                <a href="#">
                    <i class="zmdi zmdi-view-dashboard"></i> Dashboard
                </a>
            </li>
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Index">
                    <i class="zmdi zmdi-link"></i> Users
                </a>
            </li>
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="Category" asp-action="Index">
                    <i class="zmdi zmdi-widgets"></i> Categories
                </a>
            </li>
            <li>
                <a class="nav-link text-dark" asp-area="" asp-controller="Service" asp-action="Index">
                    <i class="zmdi zmdi-calendar"></i> Services
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="zmdi zmdi-info-outline"></i> About
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="zmdi zmdi-settings"></i> Services
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="zmdi zmdi-comment-more"></i> Contact
                </a>
            </li>
        </ul>
    </div>
    <!-- Content -->
    <div id="content">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>

            </div>
        </nav>
        <div class="container-fluid">
        </div>
    </div>
</div>